<div class="vlc-list-section-header" data-test-agenda-overview-agenda-item-header>
  {{#if @mandatees.length}}
    <ul>
      {{#each @mandatees as |mandatee|}}
        <li>{{mandatee.title}}</li>
      {{/each}}
    </ul>
  {{else}}
    <span class="vlc-list-section-header-title">{{t 'no-mandatee-assigned'}}</span>
  {{/if}}
</div>
